html, body {
    margin: 0;
    padding: 0;
    background-color: #6b46c1;
    height: 100%;
  }
  
  #app, .v-application, .v-main {
    background-color: #6b46c1 !important;
    min-height: 100vh;
    height: 100%;
  }
  
  .v-container {
    background-color: transparent !important;
  }
  
  .theme--light.v-application {
    background-color: #6b46c1 !important;
  }